# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\ottin\Desktop\Marco\UNIVERSITA\UNITO\MAGISTRALE\TLN\19-20\DiCaro\TLN-dicaro\progetto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
